* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#switch {
    width: 0;
    height: 0;
    visibility: hidden;
}

label {
    display: block;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 5px 2px rgb(255, 242, 0);
    width: 100px;
    height: 50px;
    border-radius: 100px;
    background-color: azure;
    position: relative;
}

label::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 70px;
    top: 4px;
    left: 5px;
    background-color: black;
    transition: 1s;
}

#switch:checked+label::after {
    background-color: black;
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

