
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: black;
    height: 100vh;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2018/08/23/07/35/thunderstorm-3625405_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: text;

}
h1{
    font-size: 10rem;
    font-weight: bolder;
    color: transparent;
}

