* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222;
}

body.on {
    transition: 0.5s;
    background: radial-gradient(#555, #111);
}

.wire {
    width: 4px;
    height: 60vh;
    background: #000;
    position: absolute;
    bottom: 50%;
    left: calc(50% - 2px);
    z-index: 1;
}

.bulb {
    position: relative;
    width: 80px;
    height: 80px;
    background: #444;
    border-radius: 50%;
    z-index: 2;
}

body.on .bulb {
    background-color: #fff;
    box-shadow: 0 0 50px white,
        0 0 100px white,
        0 0 150px white,
        0 0 200px white,
        0 0 250px white,
        0 0 3000px white,
        0 0 350px white,
        0 0 400px white,
        0 0 450px white;
}

.bulb::before {
    content: "";
    position: absolute;
    left: 50%;
    top: -6%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 80px;
    background: #444;
    border-top: 30px solid #000;
    border-radius: 10px;
}

body.on .bulb::before {
    background: #fff;
}

body.on .bulb::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(40px);
    width: 120px;
    height: 120px;
    border: 4px solid #fff;
    background: white;
    border-radius: 50%;
}

.bulb span {
    position: absolute;
    width: 30px;
    height: 30px;
    background: transparent;
}

.bulb span:nth-child(1) {
    top: -16px;
    left: -4px;
    transform: rotate(347deg);
    border-bottom-right-radius: 40px;
    box-shadow: 20px 20px 0 10px #444
}

.bulb span:nth-child(2) {
    top: -16px;
    right: -4px;
    transform: rotate(19deg);
    border-bottom-left-radius: 40px;
    box-shadow: -20px 20px 0 10px #444
}

body.on .bulb span:nth-child(1) {
    box-shadow: 20px 20px 0 10px #fff
}

body.on .bulb span:nth-child(2) {
    box-shadow: -20px 20px 0 10px #fff
}

.switch {
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 80px;
    height: 80px;
    background: linear-gradient(#eee, #ccc, #eee);
    border: 3px solid #000;
    box-shadow: 0px 20px 30px -10px gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.switch .btn{
    position: relative;
    background: linear-gradient(#777, #fff, #777);
    width: 25px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid #000;
}
.switch .btn::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 85%;
    left: 0;
    top: 0;
    background: linear-gradient(#fff, #fff);
    border-radius: 4px;

}
.on .switch .btn::before{
    top: 15%;
}