*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: black;
}
.container{
    width: 100%; /* Set the width of the container */
    height: 100vh; /* Set the height of the container, here 100vh means 100% of the viewport height */
    background-image: url('pxfuel.jpg'); /* Set the URL of your background image */
    background-size: cover; /* Make sure the background image covers the entire container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; 
    object-position: center;
    object-fit: cover;
}